.right-sider {
    position: fixed;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    .right-sider {
        width: 170px;
        margin-left: 0;
    }
    .ant-list-item {
        padding-left: 6px !important;
    }
}

@media only screen and (min-width: 992px) {
   .right-sider {
       width: 200px;
       margin-right: 18px;
   }

   .ant-list-item {
       padding-left: 16px !important;
   }
}

@media only screen and (min-width: 1200px) {
    .right-sider {
        width: 200px;
        margin-left: 40px;
    }

    .ant-list-item {
        padding-left: 24px !important;
    }
}
