.left-sider {
    position: fixed;
}

@media only screen and (min-width: 768px) {
    .left-sider {
        width: 125px;
        margin-left: 0;
    }
    .ant-menu-item {
        padding-left: 6px !important;
    }
}

@media only screen and (min-width: 992px) {
   .left-sider {
       width: 140px;
       margin-left: 18px;
   }

   .ant-menu-item {
       padding-left: 16px !important;
   }
}

@media only screen and (min-width: 1200px) {
    .left-sider {
        width: 180px;
        margin-left: 40px;
    }

    .ant-menu-item {
        padding-left: 24px !important;
    }
}
